
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <h2>Educational Terms Dictionary (Arabic - English)</h2>
                <h4 class="text-justify">Develop Educational Terms Dictionary Enable users (students - teachers - researcher) to search about any educational terms in arabic and english languages, And share their experiences in building a free and easy dictionary that allows them to add and modify and develop cumulatively.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <h2>Project Features</h2>
                <div class="bs-callout bs-callout-info">Easy search allows students, teachers and researchers to search and define educational terms and translate them into arabic correctly.</div>
                <div class="bs-callout bs-callout-info">Allow experts and specialists to add educational terms.</div>
                <div class="bs-callout bs-callout-info">Allow supervisor and administrators in ABEGS To reviews and approves educational terms data.</div>
                <div class="bs-callout bs-callout-info">Allow end users to search the dictionary and add notes as well as save educational term in his own favourites.</div>
            </div>
        </div>

    </div>
