<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                <ul>
                    <li><a href="https://www.abegs.org/eportal/about/index" target="_blank" >About Us</a></li>
                    <li><a href="https://www.abegs.org/eportal/generalconference/index"  target="_blank">General Conference</a></li>
                    <li><a href="https://www.abegs.org/eportal/executivecouncil/index"  target="_blank">Executive Council</a></li>
                    <li><a href="https://www.abegs.org/eportal/generalmanager/index"  target="_blank">Director General</a></li>
                    <li><a href="https://www.abegs.org/eportal/faq/index"  target="_blank">FAQ</a></li>
                    <li><a href="https://www.abegs.org/eportal/contact/index"  target="_blank">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                <ul>
                    <li><a href="https://www.abegs.org/eportal/organization/index" target="_blank">Bodies & Organizations</a></li>
                    <li><a href="https://www.abegs.org/eportal/conference/index" target="_blank">Conferences  & Seminars</a></li>
                    <li><a href="https://www.abegs.org/eportal/video/index" target="_blank">Video Library</a></li>
                    <li><a href="https://www.abegs.org/eportal/images/index" target="_blank">Photo Library</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 pull-right shield hidden-xs">
                <a href="https://www.abegs.org/eportal/default/index"  target="_blank" >Arab Bureau of Education for the Gulf States</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                    <p>Tel: +966-11-4800555</p>
                    <p>Fax: +966-11-4802839</p>
                    <p>Website: <a href="https://www.abegs.org">www.abegs.org</a></p>
                    <p>E-mail:<a href="mailto: abegs@abegs.org">abegs@abegs.org</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 pull-right">
                        <p>Arab Bureau of Education for the Gulf States</p>
                        <p>7054 amr ibn ummiyyah ad damri-as safarat</p>
                        <p>AR RIYADH 12511 - 3113 </p>
                        <p>Kingdom of Saudi Arabia</p>
            </div>
        </div>
    </div>
</div>

<div class="socialnetworks">
    <div class="container">
        <div class="row">
           <p class="text-center">
               All Rights Reserved © Arab Bureau of Education for the Gulf States
                2017
                <a href="https://www.abegs.org/eportal/default/privacy"  target="_blank">( WEBSITE POLICY )</a>
            </p>
            <div class="text-center">
                <a href="https://www.facebook.com/abegsorg" target="_blank" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook fa-3x"></i></a>
                <a href="https://plus.google.com/+AbegsOrg" target="_blank" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus fa-3x"></i></a>
                <a href="https://twitter.com/abegsorg" target="_blank" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="https://www.youtube.com/abegschanel" target="_blank" class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube fa-3x"></i></a>
                <a href="https://www.linkedin.com/company/abegs" target="_blank" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://www.instagram.com/_abegsorg" target="_blank" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>